СУ/2 семестър/Софтуерни системи базирани на услуги/final/notes-management-app/src/main/resources/wsdl/mailSender.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="Calculator"
                  targetNamespace="http://localhost:9091/services/mailsender"
                  xmlns:tns="http://localhost:9091/services/mailsender"
                  xmlns:types="http://localhost:9091/types/SendEmailInput"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema
                targetNamespace="http://localhost:9091/types/SendEmailInput"
                xmlns:tns="http://localhost:9091/services/mailsender"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                version="1.0">

            <xsd:element name="SendEmailInput">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recipient" type="xsd:string" />
                        <xsd:element name="body" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SendEmailInput">
        <wsdl:part name="inputData" element="types:SendEmailInput" />
    </wsdl:message>

    <wsdl:message name="SendMailOutput">
        <wsdl:part name="outputData" element="types:output" />
    </wsdl:message>
    

    <wsdl:portType name="SendMail_PortType">
        <wsdl:operation name="sendmail">
            <wsdl:input message="tns:SendEmailInput" />
            <wsdl:output message="tns:SendMailOutput" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SendMail_SoapBinding" type="tns:SendMail_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="sendmail">
            <soap:operation soapAction="http://localhost:9091/services/mailsender/sendmail" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Mail_Service">
        <wsdl:documentation>Mail Service</wsdl:documentation>
        <wsdl:port name="SendMail_PortType" binding="tns:SendMail_SoapBinding">
            <soap:address location="http://localhost:9091/ws/sendMailDemo" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>